/* Global Styles */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: Arial, sans-serif;
}

/* Light Mode Styles */
.light-mode {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

/* Specific styles for dark mode */
.dark-mode .App {
  background-color: #121212;
  color: #ffffff;
}

button {
  transition: background-color 0.3s ease;
}

/* Customize Material UI buttons for dark mode */
.dark-mode button {
  background-color: #1f1f1f;
  color: #ffffff;
}

.light-mode button {
  background-color: #1976d2;
  color: #ffffff;
}
